requests~=2.28
loguru~=0.6
openpyxl~=3.0
pandas~=1.2
pymongo==4.2.0
marshmallow==3.17.0
PyJWT~=2.4
# Development
pytest<7
coverage<7
coverage-badge<1
pytest-mock<3
# Extra
Flask~=2.1
fastapi~=0.78
python-multipart
uvicorn~=0.18