PyJWT~=2.4
celery~=5.2
confluent-kafka~=1.9
fastapi~=0.78
pydantic[dotenv]==1.10.2
loguru~=0.6
marshmallow==3.17.0
openpyxl~=3.0
pandas~=1.2
pymongo==4.2.0
python-multipart==0.0.5
redis==4
requests~=2.28
uvicorn~=0.18
