from app.uploaders import registered_uploaders
from .defaults.uploader_router import router as uploaderRouter


routers = [
    
]



if len(registered_uploaders.uploaders) > 0:
    routers.append(uploaderRouter)