from licenseware import log
from fastapi import FastAPI as WebApp
from fastapi import APIRouter as WebRouter
from fastapi import Request as WebRequest
from fastapi import HTTPException as WebHTTPException
from fastapi import (
    Depends, 
    UploadFile, 
    Header
)



def authorized_user(
    tenant_id: str = Header(convert_underscores=False), 
    auth_jwt: str = Header(convert_underscores=False)
):
    if tenant_id is None or auth_jwt is None:
        log.warning("Invalid User Credentials")
        raise WebHTTPException(status_code=403, detail="Missing `tenant_id` or `auth_jwt` from headers")
    
    log.success("Valid User Credentials")