from licenseware import RegisteredUploaders
from .rv_tools.uploader import rv_tools_uploader # import here uploaders created


uploaders = [
    rv_tools_uploader
]


registered_uploaders = RegisteredUploaders(uploaders)
