from fastapi import FastAPI as WebApp
from fastapi import APIRouter as WebRouter
from fastapi import Request as WebRequest
from fastapi import HTTPException as WebHTTPException
from fastapi import Depends
from fastapi import UploadFile