from setuptools import find_packages, setup
from settings import config


def get_requirements():
    with open("requirements.txt") as f:
        return f.read().splitlines()


setup(
    name=config.APP_ID,
    version="0.0.1",
    install_requires=get_requirements(),
    packages=find_packages("."),
)